name: Metrics

on:
  # Schedule daily updates
  schedule:
    - cron: "0 0 * * *"
  # (optional) Run workflow manually
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write

    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          base: ""
          plugin_languages: yes
          plugin_achievements: yes
          plugin_achievements_only: polyglot, member, developer
          plugin_activity: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          # plugin_streaks: yes
          # config_debug: yes
